<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Data Center Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @if (ViewBag.Title == "Login" || ViewBag.Title == "Register" || ViewBag.Title == "RegSuccess")
    {
        <div class="body-content">
            @RenderBody()
        </div>
    } else
    {
        <div class="body-content">
            <div class="col-lg-12">
                <div class="row">
                    @Html.Partial("_Sidebar")

                    <div class="content-wrapper">
                        @Html.Partial("_Navbar")

                        <div class="inner-content">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
